{% extends "ygProfile/tplProfile.html" %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}

    <!-- Profile start -->

    <div class="user-profile">
        <div class="user-profile__wrapper">
            <div class="user-view user-profile__view">
                <div class="user-view__avatar"><a href="#"><img class="user-view__avatar-img"
                {% if user.profile_pic %}
                        src="{{ user.profile_pic.url }}"
                {% else %}
                        src="/static/profile/src/user-profile/img/no-photo.png"
                {% endif %}
                alt="{{ user.first_name }} {{ user.last_name }}" width="270" /></a></div>
                <h2 class="user-view__h2">Фотографии пользователя</h2>
<!--                <div class="user-view__prevs">-->
<!--                    <a href="#" class="user-view__prevs-link"><img class="user-view__prevs-img" src="{% static 'profile/src/user-profile/img/prev1.jpg' %}" alt="Ирина Яковлева"></a>-->
<!--                    <a href="#" class="user-view__prevs-link"><img class="user-view__prevs-img" src="{% static 'profile/src/user-profile/img/prev2.jpg' %}" alt="Ирина Яковлева"></a>-->
<!--                    <a href="#" class="user-view__prevs-link"><img class="user-view__prevs-img" src="{% static 'profile/src/user-profile/img/prev3.jpg' %}" alt="Ирина Яковлева"></a>-->
<!--                    <a href="#" class="user-view__prevs-link"><img class="user-view__prevs-img" src="{% static 'profile/src/user-profile/img/prev4.jpg' %}" alt="Ирина Яковлева"></a>-->
<!--                </div>-->
                <div class="user-view__buttons">
                    <button class="button user-view__add">Добавить в друзья</button>
                    <button class="user-view__message"><img src="{% static 'profile/src/user-profile/img/message.svg' %}" alt="Написать сообщение"></button>
                </div>
            </div>
            <div class="user-info user-profile__info">
                <div class="user-info__name">
                    <img class="user-info__photo"
                    {% if user.profile_pic %}
                        src="{{ user.profile_pic.url }}"
                    {% else %}
                        src="/static/profile/src/user-profile/img/no-photo.png"
                    {% endif %}
                    alt="{{ user.first_name }} {{ user.last_name }}">
                    <h1 class="user-info__h1">{{ user.first_name }} {{ user.last_name }}</h1>
                </div>
                <div class="user-info__buttons">
                    <button id="bAddFriendMobile" class="button user-info__button-left">Добавить в друзья</button>
                    <button class="button_empty">Написать сообщение</button>
                </div>

                <!-- User params start -->

                    {% if user_info.location %}
                    <div class="user-info__item">
                        <div class="user-info__param">Место жительства:</div>
                        <div class="user-info__value">{{ user_info.location }}</div>
                    </div>
                    {% endif %}

                    {% if user_info.birth_date %}
                    <div class="user-info__item">
                        <div class="user-info__param">Возраст:</div>
                        <div class="user-info__value">{{ user_info.getAge }}</div>
                    </div>
                    {% endif %}

                    {% if user_info.marital_status %}
                    <div class="user-info__item">
                        <div class="user-info__param">Семейное положение:</div>
                        <div class="user-info__value">{{ user_info.marital_status }}</div>
                    </div>
                    {% endif %}

                    {% if user_info.doctrine_list %}
                    <div class="user-info__item">
                        <div class="user-info__param">Учение:</div>
                        <div class="user-info__value">{{ user_info.doctrine_list|safe }}</div>
                    </div>
                    {% endif %}

                    {% if user_info.tradition_list %}
                    <div class="user-info__item">
                        <div class="user-info__param">Традиция:</div>
                        <div class="user-info__value">{{ user_info.tradition_list|safe }}</div>
                    </div>
                    {% endif %}

                    {% if user_info.practice_list %}
                    <div class="user-info__item">
                        <div class="user-info__param">Практики:</div>
                        <div class="user-info__value">{{ user_info.practice_list|safe }}</div>
                    </div>
                    {% endif %}

                    {% if user_info.experience %}
                    <div class="user-info__item">
                        <div class="user-info__param">Опыт практики:</div>
                        <div class="user-info__value">{{ user_info.experience }}</div>
                    </div>
                    {% endif %}

                    {% if user_info.interest_list %}
                    <div class="user-info__item">
                        <div class="user-info__param">Интересы:</div>
                        <div class="user-info__value">{{ user_info.interest_list|safe }}</div>
                    </div>
                    {% endif %}

                    {% if user_info.request %}
                    <div class="user-info__item">
                        <div class="user-info__param">Ищу:</div>
                        <div class="user-info__value">{{ user_info.request }}</div>
                    </div>
                    {% endif %}

                    {% if user_info.about %}
                    <div class="user-info__item">
                        <div class="user-info__param">Обо мне:</div>
                        <div class="user-info__value">{{ user_info.about }}</div>
                    </div>
                    {% endif %}
                <!-- User params end -->

            </div>
        </div>
    </div>

    <!-- Profile end -->

{% else %}
<p style="text-align: center; margin: 100px 0px 120px 0px;">Нет данных</p>
{% endif %}

{% endblock %}