<!doctype html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Yogether</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'profile/src/profile.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'profile/src/TEMP.css' %}"> <!-- !!!!!!!!!!! -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">  
    <script src="{% static 'profile/src/common/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'profile/src/popups/popups.js' %}"></script>
</head>
<body>
    <!-- Header start -->
    <header class="header">
        <div class="header__wrapper">

            <!-- Menu block start -->
            <div class="menu-block">
                <figure class="menu-block__logo">
                    <a href="#"><img class="menu-block__logo-img" src="{% static 'profile/src/header/img/logo.svg' %}" width="70" alt="Yogether"></a>
                    <figcaption class="menu-block__logo-figcaption"><a href="#" class="menu-block__link menu-block__logo-link">Yogether</a></figcaption>
                </figure>
                <ul class="menu-block__menu">
                    <li class="menu-block__item"><a href="#" class="menu-block__link">Главная</a></li>
                    <li class="menu-block__item"><a href="#" class="menu-block__link">Участники</a></li>
                    <li class="menu-block__item"><a href="#" class="menu-block__link">О проекте</a></li>
                    <li class="menu-block__item"><a href="#" class="menu-block__link">Контакты</a></li>
                </ul>
                <div class="menu-block__buttons">
                    {% if user.is_authenticated %}
                    <span>{{ user.username }}</span>&nbsp;
                    <a id="aLogout" href="{% url 'account_logout' %}" class="menu-block__login menu-block__link">Выход</a>
                    {% else %}
                    <a id="aLogin" href="{% url 'account_login' %}" class="menu-block__login menu-block__link">Вход</a>
                    <a id="bRegister_" href="{% url 'account_signup' %}" class="menu-block__register button">Регистрация</a>
                    {% endif %}
                </div>
                <div class="menu-block__mobile-buttons">
                    <a id="aLoginMob" href="#"><img src="{% static 'profile/src/header/img/login_mobile.png' %}" alt="Вход"></a>
                    <a id="aMobMenu" class="menu-block__mob-bt-link" href="#"><img src="{% static 'profile/src/header/img/menu_mobile.png' %}" alt="Меню" /></a>
                </div>
            </div>
            <!-- Menu block end -->

            <!-- Title start -->
            <div class="header__title title">
                <h2 class="title__h2">Профиль пользователя</h2>
                <div class="title__breadcrumbs">
                    <a href="#" class="title__link">Главная</a><span>Профиль пользователя</span>
                </div>
            </div>
            <!-- Title end -->

        </div>
    </header>
    <!-- Header end -->

    <!-- Profile start -->
    {% include "../ygProfile/_user-info.html" %}
    <!-- Profile end -->


    <!-- Footer start -->

    <footer class="footer">
        <div class="footer__wrapper">
            <figure class="footer__logo">
                <a href="#"><img class="footer__logo-img" src="{% static 'profile/src/footer/img/logo.svg' %}" width="70" alt="Yogether"></a>
                <figcaption class="footer__logo-figcaption"><a class="footer__link footer__logo-link" href="#">Yogether</a></figcaption>
            </figure>
            <div class="footer__menus">
                <ul class="footer__menu footer__menu_first">
                    <li class="footer__menu-item"><a class="footer__link" href="#">Главная</a></li>
                    <li class="footer__menu-item"><a class="footer__link" href="#">Участники</a></li>
                    <li class="footer__menu-item"><a class="footer__link" href="#">О проекте</a></li>
                    <li class="footer__menu-item"><a class="footer__link" href="#">Встречи</a></li>
                    <li class="footer__menu-item"><a class="footer__link" href="#">Контакты</a></li>
                </ul>
                <ul class="footer__menu">
                    <li class="footer__menu-item"><a class="footer__link" href="#">Расписание</a></li>
                    <li class="footer__menu-item"><a class="footer__link" href="#">Города и страны</a></li>
                    <li class="footer__menu-item"><a class="footer__link" href="#">Встречи YG</a></li>
                    <li class="footer__menu-item"><a class="footer__link" href="#">Карта сайта</a></li>
                    <li class="footer__menu-item"><a class="footer__link" href="#">Наша команда</a></li>
                </ul>
            </div>
            <div class="footer__social">
                <a href="#" class="footer__soc-link"><img src="{% static 'profile/src/footer/img/vk.png' %}" alt="Вконтакте"></a>
                <a href="#" class="footer__soc-link"><img src="{% static 'profile/src/footer/img/instagram.png' %}" alt="Инстаграм"></a>
                <a href="#" class="footer__soc-link"><img src="{% static 'profile/src/footer/img/facebook.png' %}" alt="Facebook"></a>
                <a href="#" class="footer__soc-link"><img src="{% static 'profile/src/footer/img/youtube.png' %}" alt="Youtube"></a>
                <a href="#" class="footer__soc-link"><img src="{% static 'profile/src/footer/img/twitter.png' %}" alt="Twitter"></a>
                <a href="#" class="footer__soc-link"><img src="{% static 'profile/src/footer/img/ok.png' %}" alt="Одноклассники"></a>
            </div>
            <div class="footer__desc">Поиск единомышленников для общения и совместных практик для йогов и эзотериков</div>
            <div class="footer__copyright">&copy; Yogether. Копирование материалов возможно только с разрешения владельца.</div>
            <div class="footer__policy">
                <a href="#" class="footer__link footer__policy-link">Политика конфиденциальности</a>
                <a href="#" class="footer__link footer__policy-link">Политика обработки персональных данных</a>
            </div>
        </div>
    </footer>

    <!-- Footer end -->

    <!-- Popups start -->

    <div id="darkscreen" class="darkscreen"></div>
        
    <div id="popups" class="popups">

        <!-- Mobile menu start -->
        <div id="mobile-menu" class="mobile-menu">
            <button id="mobile-menu-close" class="x-close mobile-menu__close"><img src="{% static 'profile/src/popups/img/close.png' %}" alt="Закрыть"></button>
            <ul class="mobile-menu__list">
                <li class="mobile-menu__item"><a href="#" class="mobile-menu__link">Главная</a></li>
                <li class="mobile-menu__item"><a href="#" class="mobile-menu__link">Участники</a></li>
                <li class="mobile-menu__item"><a href="#" class="mobile-menu__link">О проекте</a></li>
                <li class="mobile-menu__item"><a href="#" class="mobile-menu__link">Контакты</a></li>
            </ul>
            <div class="mobile-menu__buttons">
                <button class="button_empty mobile-menu__login">Вход</button>
                <button class="button mobile-menu__register">Регистрация</button>
            </div>
        </div>
        <!-- Mobile menu end -->

        <!-- Login form start -->

        {% include "../ygForms/loginForm.html" %}

        <!-- Login form end -->

    </div>        

    <!-- Popups end -->

</body>
</html>