/* Variables */
$headerLinksColor: #49497D;
$headerFolder: '../../src/header/';

/* Header */
.header{
    height: 453px;
    background-image: url($headerFolder + 'img/mountains_bg.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    @media (max-width: 1024px){
        background-size: 1500px auto;
        height: 340px;
    }
    @media (max-width: 480px){
        height: 300px;
        background-position: bottom center;
        background-image: url($headerFolder + 'img/mountains_bg_mob.jpg');
        background-size: 100% auto;
    }

    &__wrapper{
        @include contentWrapper;
        padding-top: 20px;     
    }

    &__title{
        margin-top: 110px;
        @media (max-width: 1024px) { margin-top: 56px; }
    }
}
