{% extends "ygProfile/tplProfile.html" %}

{% load i18n %}

{% block content %}
<div style="width: 600px; text-align: center; margin: 100px auto 120px auto;">

  <form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="button login-form__button" type="submit">Войти</button>
  </form>

</div>
{% endblock %}

