{% extends "ygProfile/tplProfile.html" %}

{% load i18n %}

{% block content %}
<div style="text-align: center; margin: 100px 0px 120px 0px;">
    <h1>{% trans "Sign Out" %}</h1>

    <p style="margin-top: 15px;">{% trans 'Are you sure you want to sign out?' %}</p>

    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <button type="submit" style="margin-top: 15px;">{% trans 'Sign Out' %}</button>
    </form>
</div>


{% endblock %}
