.user-view{
    min-width: $mainPhotoWidth;   
    flex-basis: $mainPhotoWidth;
    @media (max-width: 768px) { width: 100%; }
    
    &__h2{ 
        display: none;
        margin-top: 30px;
        margin-bottom: 16px;
        @media (max-width: 768px) { display: block; }        
        @include headersAdjust();
    }

    &__avatar{
        width: $mainPhotoWidth;
        margin-bottom: 8px;
        @media (max-width: 768px) { display: none; }
    }

    &__avatar-img { border-radius: $mainPhotoWidth / 2; }

    &__prevs{
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
        
        @media (max-width: 768px) { 
            justify-content: flex-start;
        }
    }
    &__prevs-link { 
        display: block; 
        @media (max-width: 768px) { margin-right: 16px;}
    }
    
    &__prevs-img { border-radius: 8px; }

    &__buttons{
        display: flex;
        justify-content: space-between;
        @media (max-width: 768px) { display: none; }
    }

    &__add{
        width: 210px;
        font-weight: 600;
    }

    &__message{
        border: 2px solid #B7B7D3;
        border-radius: 8px;
        background-color: white;
        padding: 10px;
        cursor: pointer;
    }

}
