.user-profile{

    &__wrapper{        
        @include contentWrapper();
        margin: 118px auto 121px auto;
        display: flex;
        @media (max-width: 768px) { flex-direction: column; }
        @media (max-width: 689px) { margin: 75px auto; }
        @media (max-width: 480px) { margin: 40px auto; }
    }

    &__view{
        @media (max-width: 768px) { order: 2; }
    }

    &__info{
        margin-left: 40px;
        @media (max-width: 768px) { 
            margin-left: 0;
            order: 1;
        }
    }
}
