$buttonBgColor: #7551A8;
$buttonBgHoverColor: #AB89DB;
$buttonEmptyColor: #49497D;
$buttonEmptyColor: #49497D;

/* main button */
.button{
    border: none;
    padding: 14px 32px;
    background: $buttonBgColor;
    border-radius: 8px;
    color: white;
    margin-right: 0px;
    line-height: 16px;
    font-size: 14px;
    cursor: pointer;
    white-space: nowrap;

    &:hover{
        background-color: $buttonBgHoverColor;
    }
}
.button_empty{
    @extend .button;
    background: none;
    border: 2px solid $buttonEmptyColor;
    color: $buttonEmptyColor;
    @media (max-width: 480px) { border-width: 1px;}

    &:hover{
        background-color: $buttonEmptyColor;
        color: white;
    }
}