$buttonBgColor: #7551A8;
$buttonBgHoverColor: #AB89DB;

/* main button */
.button{
    border: none;
    padding: 14px 32px;
    background: $buttonBgColor;
    border-radius: 8px;
    color: white;
    margin-right: 0px;
    line-height: 16px;
    font-size: 14px;
    cursor: pointer;

    &:hover{
        background-color: $buttonBgHoverColor;
    }
}