* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    min-width: 320px;
    //overflow: hidden;
}
a{
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}
button{
    outline: none;
}