* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    min-width: 320px;
    font-weight: 500;
    //overflow: hidden;
}
a{
    color: $linksColor;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}
img{
    vertical-align: top;
}
button{
    outline: none;
}
h1, h2{
    font-size: 44px;
    font-weight: 700;
    letter-spacing: 0.01em;
    color: $flatTextColor;

    @media (max-width: 1024px) { font-size: 36px; }
    @media (max-width: 767px) { font-size: 32px; }
    @media (max-width: 480px) { font-size: 24px; }
}