@font-face {
    font-family: 'Raleway';
    font-weight: 500;
    src: url('../fonts/Raleway/static/Raleway-Medium.ttf');
}
@font-face {
    font-family: 'Raleway';
    font-weight: 700;
    src: url('../fonts/Raleway/static/Raleway-Bold.ttf');
}