/* Variables */
$footerLinksColor: #49497D;

.footer{
    background-color: rgba(243, 227, 255, 0.75);
    font-size: 14px;
    line-height: 100%;

    a{ color: $footerLinksColor; }
    
    &__wrapper{
        @include contentWrapper();
        padding: 40px 0px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        @media (max-width: 768px) { 
            padding-bottom: 25px;
        }
    }

    &__logo{
        flex-basis: 114px;
        margin-right: 86px;
        text-align: center;
        @media (max-width: 1280px) { 
            flex-basis: 100%; 
            order: 2;
            margin-right: 0px;
        }

        img{       
            margin-bottom: 14px;
        }
        figcaption{
            font-family: 'Barlow', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            line-height: 100%;
        }
        a:hover{ text-decoration: none; }
    }

    &__menus{
        flex-basis: 750px;
        @media (max-width: 1280px) { 
            flex-basis: 100%; 
            order: 1;
            text-align: center;
            margin-bottom: 24px;
        }
        @media (max-width: 768px) { display: none; }

        a{
            white-space: nowrap;
        }
    }

    &__menu{
        list-style: none;
        padding: 0;
    }

    &__menu_first{
        margin-bottom: 24px;
    }

    &__menu-item{
        display: inline;
        margin-right: 22px;
    }

    &__social{
        flex-basis: 220px;
        display: flex;
        align-content: flex-end;
        @media (max-width: 1280px) { 
            order: 4; 
            flex-basis: 100%;
            justify-content: center;
            margin-bottom: 24px;
        }
    }

    &__soc-link{
        margin-left: 11px;
    }

    &__desc{
        flex-basis: 100%;
        margin-top: 24px;
        margin-bottom: 60px;
        line-height: 140%;

        @media (max-width: 1280px) { 
            order: 3; 
            text-align: center;
            margin-bottom: 24px;
        }
    }

    &__copyright{
        flex-basis: 50%;
        font-weight: 400;
        line-height: 140%;

        @media (max-width: 1280px) { 
            order: 5; 
            flex-basis: 100%;
            text-align: center;
            margin-bottom: 24px;
        }
    }

    &__policy{
        flex-basis: 50%;
        font-weight: 400;
        font-size: 13px;
        text-align: right;
        @media (max-width: 1280px) { 
            order: 6; 
            flex-basis: 100%;
            text-align: center;
        }
    }
    &__policy-link{
        margin-left: 12px;
        @media (max-width: 768px) { 
            display: block;
            margin-bottom: 15px;
        }
    }
}