$errorMsgColor: #E62E6B;

.darkscreen{
    position: fixed;
    background-color: rgba(117, 81, 168, 0.5);
    width: 100%;
    height: 100vh;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}
.login-form{
    width: 400px;
    padding: 30px 30px 60px 30px;
    text-align: center;
    background-color: $bgLightColor;
    border-radius: $cornerRadius;
}
.login-form__close{
    float: right;
    margin-top: -15px;
    margin-right: -15px;
}
.login-form__title{
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    color: #000000;
    margin-bottom: 30px;
    margin-top: 15px;
}
.login-form__input{
    display: block;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid rgba(42, 16, 78, 0.2);
    box-sizing: border-box;
    border-radius: 8px;
    padding: 14px 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #49497D;
    outline: none;
}
.login-form__input::placeholder{
    color: #B7B7D3;
    font-weight: 500;
    opacity: 1;
}
.login-form__error{
    color: $errorMsgColor;
    font-size: 14px;
    margin-bottom: 15px;
}
.login-form__links{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 14px;
}
.login-form__link{
    display: block;
    margin-top: 5px;
}

.login-form__title_h4{
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 15px;
}
.login-form__socials{
    display: flex;
    justify-content: center;
}
.login-form__soc-button{
    padding: 0;
    border: none;
    background: none;
    margin: 0px 2.5px;
    cursor: pointer;
}