$errorMsgColor: #E62E6B;

.darkscreen{
    //display: block;
    display: none;
    position: fixed;
    background-color: rgba(117, 81, 168, 0.5);
    width: 100%;
    height: 100vh;
    top: 0;

}
.popups{
    //display: flex;    
    display: none;
    position: fixed;
    width: 100%;
    min-width: 320px;
    height: 100vh;
    top: 0;
    align-items: center;
    justify-content: center;
    @media (max-width: 768px) { 
        position: absolute;
        align-items: flex-start;
        padding-top: 10vh;
    }
    @media (max-width: 480px) { 
        padding: 15px;
    }
}

.login-form{
    //display: block;
    display: none;
    width: 400px;
    padding: 30px 30px 60px 30px;
    text-align: center;
    background-color: $bgLightColor;
    border-radius: $cornerRadius;

    @media (max-width: 768px) { top: 10vh; }    
    @media (max-width: 430px) {  
        width: 100%; 
        min-width: 290px;
    }
    @media (max-width: 360px) { padding: 30px 15px 45px 15px; }

    &__close{
        float: right;
        margin-top: -15px;
        margin-right: -15px;
        @media (max-width: 360px) { margin-right: 0; }
    }
    &__title{
        font-weight: 500;
        font-size: 28px;
        line-height: 32px;
        color: #000000;
        margin-bottom: 30px;
        margin-top: 15px;

        @media (max-width: 360px) { 
            font-size: 24px;
            line-height: 24px;
        }
    }
    &__input{
        display: block;
        width: 100%;
        margin-bottom: 15px;
        border: 1px solid rgba(42, 16, 78, 0.2);
        box-sizing: border-box;
        border-radius: 8px;
        padding: 14px 16px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #49497D;
        outline: none;

        &::placeholder{
            color: #B7B7D3;
            font-weight: 500;
            opacity: 1;
        }
    }
    &__error{
        color: $errorMsgColor;
        font-size: 14px;
        margin-bottom: 15px;
    }
    &__button{
        width: 160px;
        @media (max-width: 480px) { 
            padding: 14px 32px;
            font-size: 14px;
            line-height: 16px;
            font-weight: bold;
        }
    }
    &__links{
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 14px;
    }
    &__link{
        display: block;
        margin-top: 5px;
    }
    
    &__title_h4{
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 15px;
        @media (max-width: 360px) { 
            font-size: 16px; 
            margin-bottom: 8px;
        }
    }
    &__socials{
        display: flex;
        justify-content: center;
    }
    &__soc-button{
        padding: 0;
        border: none;
        background: none;
        margin: 0px 2.5px;
        cursor: pointer;
    }

}