$mainPhotoWidth : 270px;
$mainPhotoLaptop: 120px;
$mainPhotoLaptopS: 90px;
$mainPhotoMobile: 60px;

@mixin headersAdjust{
    @media (max-width: 768px) { font-size: 24px; }
    @media (max-width: 480px) { font-size: 16px; }
}

.user-profile{

    &__wrapper{        
        @include contentWrapper();
        margin: 118px auto 121px auto;
        display: flex;
        @media (max-width: 768px) { flex-direction: column; }
        @media (max-width: 689px) { margin: 75px auto; }
        @media (max-width: 480px) { margin: 40px auto; }
    }

    &__view{
        @media (max-width: 768px) { order: 2; }
    }

    &__info{
        margin-left: 40px;
        @media (max-width: 768px) { 
            margin-left: 0;
            order: 1;
        }
    }
}

.user-view{
    min-width: $mainPhotoWidth;   
    flex-basis: $mainPhotoWidth;
    @media (max-width: 768px) { width: 100%; }
    
    &__h2{ 
        display: none;
        margin-top: 30px;
        margin-bottom: 16px;
        @media (max-width: 768px) { display: block; }        
        @include headersAdjust();
    }

    &__avatar{
        width: $mainPhotoWidth;
        margin-bottom: 8px;
        @media (max-width: 768px) { display: none; }
    }

    &__avatar-img { border-radius: $mainPhotoWidth / 2; }

    &__prevs{
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
        
        @media (max-width: 768px) { 
            justify-content: flex-start;
        }
    }
    &__prevs-link { 
        display: block; 
        @media (max-width: 768px) { margin-right: 16px;}
    }
    
    &__prevs-img { border-radius: 8px; }

    &__buttons{
        display: flex;
        justify-content: space-between;
        @media (max-width: 768px) { display: none; }
    }

    &__add{
        width: 210px;
        font-weight: 600;
    }

    &__message{
        border: 2px solid #B7B7D3;
        border-radius: 8px;
        background-color: white;
        padding: 10px;
        cursor: pointer;
    }

}


.user-info{
    &__name{
        display: flex;
        align-items: center;
        margin-bottom: 48px;
        @media (max-width: 768px) { margin-bottom: 28px;}
        @media (max-width: 480px) { margin-bottom: 16px;}
    }

    &__photo{
        display: none;
        width: $mainPhotoLaptop;
        border-radius: $mainPhotoLaptop / 2;
        margin-right: 32px;
        @media (max-width: 768px) { 
            display: block;
            width: $mainPhotoLaptopS;
            border-radius: $mainPhotoLaptopS / 2;
            margin-right: 24px;
        }
        @media (max-width: 480px) { 
            width: $mainPhotoMobile;
            border-radius: $mainPhotoMobile / 2;
            margin-right: 16px;
        }
    }

    &__h1{        
        @include headersAdjust();
    }

    &__buttons{
        display: none;

        @media (max-width: 768px) {
            display: flex;
            margin-bottom: 50px;
        }
        @media (max-width: 480px) {
            margin-bottom: 40px;
        }
    }

    &__button-left{
        margin-right: 15px;
        @media (max-width: 480px) { width: 136px; }
    }

    &__item{
        display: flex;
        margin-bottom: 30px;
        line-height: 140%;

        @media (max-width: 480px) {
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 16px;
        }

    }

    &__param{
        min-width: 187px;
        flex-basis: 187px;
        color: #8A8A9E;
        
        @media (max-width: 480px) {
            min-width: 152px;
            flex-basis: 152px;
        }
    }

}
