/* Variables */
$contentDesktopWidth: 1170px;
$linksColor: #7551A8;
$flatTextColor: #07071F;
$bgLightColor: #FDFBFD;
$cornerRadius: 8px;

@import "./fonts";

@import "./mixins";
@import "./common";
@import "./buttons";

@import "./header";
@import "./user";
@import "./footer";
@import "./forms";
