/* Variables */
$contentDesktopWidth: 1170px;
$headerLinksColor: #49497D;
$linksColor: #7551A8;
$flatTextColor: #07071F;

@import "./fonts";

@import "./mixins";
@import "./common";
@import "./buttons";

@import "./header";
@import "./user";
