/* Variables */
/* Raleway */
@font-face {
  font-family: 'Raleway';
  font-weight: 500;
  src: url("../fonts/Raleway/static/Raleway-Medium.ttf");
}

@font-face {
  font-family: 'Raleway';
  font-weight: 700;
  src: url("../fonts/Raleway/static/Raleway-Bold.ttf");
}

/* Barlow */
@font-face {
  font-family: 'Barlow';
  font-weight: 700;
  src: url("../fonts/Barlow/Barlow-Bold.ttf");
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  min-width: 320px;
  font-weight: 500;
}

a {
  color: #7551A8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  vertical-align: top;
}

button {
  outline: none;
}

h1, h2 {
  font-size: 44px;
  font-weight: 700;
  letter-spacing: 0.01em;
  color: #07071F;
}

@media (max-width: 1024px) {
  h1, h2 {
    font-size: 36px;
  }
}

@media (max-width: 767px) {
  h1, h2 {
    font-size: 32px;
  }
}

@media (max-width: 480px) {
  h1, h2 {
    font-size: 24px;
  }
}

/* main button */
.button {
  border: none;
  padding: 14px 32px;
  background: #7551A8;
  border-radius: 8px;
  color: white;
  margin-right: 0px;
  line-height: 16px;
  font-size: 14px;
  cursor: pointer;
}

.button:hover {
  background-color: #AB89DB;
}

/* Header */
.header {
  height: 453px;
  background-image: url("../img/header/mountains_bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

@media (max-width: 1024px) {
  .header {
    background-size: 1500px auto;
    height: 340px;
  }
}

@media (max-width: 480px) {
  .header {
    height: 300px;
    background-position: bottom center;
    background-image: url("../img/header/mountains_bg_mob.jpg");
    background-size: 100% auto;
  }
}

.header__wrapper {
  width: 1170px;
  margin: auto;
  padding-top: 20px;
}

@media (max-width: 1200px) {
  .header__wrapper {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.header a {
  color: #49497D;
}

.header__title {
  margin-top: 110px;
}

@media (max-width: 1024px) {
  .header__title {
    margin-top: 56px;
  }
}

/* Menu top line */
.menu-block {
  height: 61px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
}

.menu-block__logo {
  margin: 0;
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  margin-right: 107px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 480px) {
  .menu-block__logo {
    margin-right: 0;
  }
}

.menu-block__logo img {
  margin-right: 9px;
}

@media (max-width: 480px) {
  .menu-block__logo img {
    width: 52px;
    margin-right: 8px;
  }
}

.menu-block__logo figcaption {
  font-family: 'Barlow', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 100%;
}

@media (max-width: 480px) {
  .menu-block__logo figcaption {
    font-size: 18px;
  }
}

.menu-block__logo a:hover {
  text-decoration: none;
}

.menu-block__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 615px;
      flex-basis: 615px;
  list-style: none;
}

@media (max-width: 1024px) {
  .menu-block__menu {
    display: none;
  }
}

.menu-block__item {
  display: block;
  margin-right: 28px;
  white-space: nowrap;
}

.menu-block__buttons {
  -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px) {
  .menu-block__buttons {
    display: none;
  }
}

.menu-block__mobile-buttons {
  display: none;
}

@media (max-width: 1024px) {
  .menu-block__mobile-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu-block__mobile-buttons a {
  margin-left: 24px;
}

.menu-block__register {
  margin-left: 18px;
}

/* Title */
.title {
  text-align: center;
}

.title__h1, .title__h2 {
  margin-bottom: 31px;
}

@media (max-width: 1024px) {
  .title__h1, .title__h2 {
    margin-bottom: 24px;
  }
}

@media (max-width: 767px) {
  .title__h1, .title__h2 {
    margin-bottom: 18px;
  }
}

@media (max-width: 480px) {
  .title__h1, .title__h2 {
    line-height: 120%;
  }
}

.title__breadcrumbs {
  font-size: 14px;
  height: 16px;
  line-height: 16px;
}

@media (max-width: 480px) {
  .title__breadcrumbs {
    display: none;
  }
}

.title__breadcrumbs a::after {
  content: "";
  display: inline-block;
  margin: 0 6px 0px 8px;
  width: 6px;
  height: 16px;
  background: url(../img/header/bc_arrow.svg) no-repeat;
  background-position: center bottom;
}

.user-profile__wrapper {
  width: 1170px;
  margin: 118px auto 121px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-profile__info {
  margin-left: 40px;
}

.user-view {
  width: 270px;
}

.user-view__avatar {
  width: 270px;
  margin-bottom: 8px;
}

.user-view__avatar img {
  border-radius: 140px;
}

.user-view__prevs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 24px;
}

.user-view__prevs img {
  border-radius: 8px;
}

.user-view__prevs a {
  display: block;
}

.user-view__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user-view__add {
  width: 210px;
  font-weight: bold;
}

.user-view__message {
  border: 2px solid #B7B7D3;
  border-radius: 8px;
  background-color: white;
  padding: 10px;
  cursor: pointer;
}

.user-info__h1 {
  margin-bottom: 48px;
}

.user-info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  line-height: 140%;
}

.user-info__param {
  min-width: 187px;
  -ms-flex-preferred-size: 187px;
      flex-basis: 187px;
  color: #8A8A9E;
}

.user-info__value {
  color: #07071F;
}
/*# sourceMappingURL=profile.css.map */