/* Variables */
$contentDesktopWidth: 1170px;
$headerLinksColor: #49497D;
$flatTextColor: #07071F;

@import "./fonts";
@import "./common";
@import "./buttons";

/* header */
.header{
    height: 453px;
    background-image: url('../img/header/mountains_bg.jpg');
    background-position: top center;
    background-repeat: no-repeat;

    &__wrapper{
        width: $contentDesktopWidth;
        margin: auto;
        padding-top: 20px;
    }
    
    a{
        color: $headerLinksColor;
    }

    &__title{
        margin-top: 110px;
    }
}
/* Menu top line */
.menu-block{
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;

    &__logo{        
        margin: 0;
        flex-basis: 200px;
        margin-right: 107px;

        img{
            float: left;
            margin-right: 9px;
        }
        figcaption{
            font-family: 'Barlow', sans-serif;;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            line-height: 100%;
            display: flex;
            height: 61px;
            align-items: center;
        }
        a:hover{
            text-decoration: none;
        }
    }   
    
    &__menu{
        display: flex;
        flex-basis: 615px;
        list-style: none;
    }

    &__item{        
        display: block;   
        margin-right: 28px;
    }
    
    &__buttons{
        flex-basis: 250px;
        display: flex;
        justify-content: flex-end;        
        align-items: center;

    }

    &__register{
        margin-left: 18px;
    }
}
/* Title */
.title{
    text-align: center;

    h1{
        font-size: 44px;
        font-weight: 700;
        letter-spacing: 0.01em;
        color: $flatTextColor;
        margin-bottom: 31px;
    }
}
.breadcrumbs{
    font-size: 14px;
    height: 16px;
    line-height: 16px;

    a::after{
        content: "";
        display: inline-block;
        margin: 0 6px 0px 8px;
        width: 6px;
        height: 16px;
        background: url(../img/header/bc_arrow.svg) no-repeat;
        background-position: center bottom;
    }
}