@charset "UTF-8";
/* --------------------------- Common ------------------------------ */
body {
  font-family: 'Raleway', sans-serif;
}

body, html {
  height: 100%;
  min-width: 240px;
}

a {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

h2 {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 44px;
  letter-spacing: 0.01em;
  color: #49497D;
}

.button {
  padding: 14px 32px;
  background: #7551A8;
  border-radius: 8px;
  color: white;
  margin-right: 0px;
  line-height: 16px;
  font-size: 14px;
}

.button:hover {
  background-color: #AB89DB;
  color: white;
  text-decoration: none;
}

.btn-transp {
  border: 2px solid #49497D;
  font-weight: 600;
  color: #49497D;
  background: none;
}

.btn-transp:hover {
  text-decoration: none;
  background-color: #49497D;
  color: white;
}

/* --------------------------- Topmenu ------------------------------ */
header {
  padding-top: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

header .topmenu, header .login {
  margin-top: 23px;
}

header figure.logo {
  min-width: 200px;
}

header figure.logo img {
  float: left;
  margin-right: 9px;
}

header figure.logo figcaption {
  font-family: 'Barlow', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 100%;
  padding-top: 16px;
}

header .logo a {
  color: #49497D;
}

header .logo a:hover {
  text-decoration: none;
}

header .topmenu li {
  display: inline;
}

header .topmenu a {
  color: #49497D;
  margin-right: 28px;
}

header .login {
  text-align: right;
}

header .login a.lg {
  color: #49497D;
  margin-right: 18px;
}

header .login a.button {
  margin-right: 0px;
}

header .mobile-menu {
  text-align: right;
  margin-top: 12px;
}

header .mobile-menu a {
  margin-left: 24px;
}

/* -------------------------- Popup elements -------------------------------- */
.darkened {
  /* затемнение экрана */
  position: fixed;
  display: none;
  background-color: rgba(117, 81, 168, 0.5);
  width: 100%;
  height: 100vh;
  z-index: 2;
}

.x-close {
  text-align: right;
  padding: 16px;
}

/* ------------------------------  Mobile menu ------------------------------ */
#menuroll {
  /* оболочка против скроллбара для меню */
  display: none;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#mobile_menu {
  position: relative;
  height: 100%;
  min-height: 550px;
  width: 228px;
  left: 100%;
  background-color: #FDFBFD;
  z-index: 4;
  background-image: url("../../src/index/img/pattern_big.png");
  background-position: right 56px;
  background-repeat: no-repeat;
  padding-bottom: 32px;
}

#mobile_menu .x-close {
  padding-top: 32px;
}

#mobile_menu ul {
  text-align: center;
  list-style: none;
  width: 100%;
  padding: 0;
  margin-top: 68px;
}

#mobile_menu ul li {
  padding: 0;
}

#mobile_menu ul a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 48px;
  color: #49497D;
  display: block;
  width: 100%;
  height: 48px;
}

#mobile_menu ul a:hover {
  background-color: #F3E3FF;
}

#mobile_menu div.buttons {
  margin-top: 40px;
}

#mobile_menu div.buttons a {
  display: block;
  margin: auto;
  margin-bottom: 17px;
  width: 136px;
  text-align: center;
  padding: 14px 24px;
}

#mobile_menu div.buttons a.btn-transp {
  background-color: white;
}

#mobile_menu div.buttons a.btn-transp:hover {
  background-color: #49497D;
}

/* ------------------------------  Register form ------------------------------ */
#regform {
  position: fixed;
  display: none;
  width: 400px;
  background-color: #FDFBFD;
  left: 50%;
  top: 50%;
  margin-left: -200px;
  margin-top: -300px;
  z-index: 4;
}

#regform .content {
  padding: 30px 30px 60px 30px;
  text-align: center;
}

#regform h3 {
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
  color: #000000;
  margin-bottom: 30px;
}

#regform p.desc {
  color: #07071F;
}

#regform input.txt {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid rgba(42, 16, 78, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  padding: 14px 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #49497D;
  outline: none;
}

#regform input.txt::-webkit-input-placeholder {
  color: #B7B7D3;
  font-weight: 500;
  opacity: 1;
}

#regform input.txt:-ms-input-placeholder {
  color: #B7B7D3;
  font-weight: 500;
  opacity: 1;
}

#regform input.txt::-ms-input-placeholder {
  color: #B7B7D3;
  font-weight: 500;
  opacity: 1;
}

#regform input.txt::placeholder {
  color: #B7B7D3;
  font-weight: 500;
  opacity: 1;
}

#regform a.button {
  display: block;
  margin: 30px auto;
  width: 136px;
}

#regform #sending {
  color: #8A8A9E;
}

#regform .result.ok {
  color: #7551A8;
}

#regform .result.info {
  color: sandybrown;
}

#regform .result.err {
  color: red;
}

/* ------------------------------  Первый экран ------------------------------ */
.firstscreen {
  height: 940px;
  background: url("../../src/index/img/bg1-w-scroll.jpg") no-repeat;
  background-position: top center;
  min-width: 240px;
}

/* Part of styles are in common.css */
header .slogan {
  padding-top: 250px;
}

header .slogan h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 46px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #49497D;
  margin: 0;
}

header .buttons {
  margin-top: 50px;
  margin-left: auto;
  min-height: 160px;
  padding-bottom: 160px;
}

.buttons div {
  padding: 0px;
}

header .buttons a {
  padding: 14px 32px;
  border: 2px solid #49497D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  font-weight: 600;
  color: #49497D;
  margin-right: 24px;
}

header .buttons a:hover {
  text-decoration: none;
  background-color: #49497D;
  border-color: #49497D;
  color: white;
}

header .buttons a.register {
  background-color: #7551A8;
  border-color: #7551A8;
  color: white;
  margin-right: 0px;
}

header .buttons a.register:hover {
  text-decoration: none;
  background-color: #AB89DB;
  border-color: #AB89DB;
}

/* ------------------------------  Недавно зарегистрировались ------------------------------ */
.people {
  margin: 19px auto 120px auto;
}

.people input.search {
  border: 1px solid rgba(42, 16, 78, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 3px 12px -2px rgba(42, 16, 78, 0.15);
          box-shadow: 0px 3px 12px -2px rgba(42, 16, 78, 0.15);
  border-radius: 8px;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  width: 100%;
  padding: 22.5px 22.5px 22.5px 67px;
  background: url("../../src/index/img/search.png") no-repeat;
  background-position: 22px 20px;
  color: #49497D;
}

.people input.search::-webkit-input-placeholder {
  color: #B7B7D3;
  font-weight: 500;
  opacity: 1;
}

.people input.search:-ms-input-placeholder {
  color: #B7B7D3;
  font-weight: 500;
  opacity: 1;
}

.people input.search::-ms-input-placeholder {
  color: #B7B7D3;
  font-weight: 500;
  opacity: 1;
}

.people input.search::placeholder {
  color: #B7B7D3;
  font-weight: 500;
  opacity: 1;
}

.people h2 {
  margin: 60px auto;
}

.people div {
  padding: 0px;
}

.people .pinkbg {
  width: 370px;
  height: 214px;
  border-radius: 12px;
  background: url("../../src/index/img/pattern.png") no-repeat;
  background-position: right;
  background-color: #FDFBFD;
  padding: 30px;
  overflow: hidden;
  margin-bottom: 30px;
}

.people .avatar {
  border-radius: 80px;
  float: left;
  margin-right: 24px;
  margin-bottom: 30px;
}

.people .name {
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: #49497D;
}

.people .name a {
  color: #49497D;
}

.people .name a:hover {
  text-decoration: none;
  color: #AB89DB;
}

.people .about {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  color: #49497D;
  height: 43px;
}

.people .interests {
  clear: both;
}

.people .interests a {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #7551A8;
  padding: 6px 12px;
  background: #E6D6FD;
  border-radius: 4px;
  margin-right: 8px;
  margin-bottom: 5px;
  display: inline-block;
}

.people .interests a:hover {
  text-decoration: none;
  color: white;
  background-color: #7551A8;
}

/* ------------------------------  Преимущества ------------------------------ */
.features {
  height: 1192px;
  background: url("../../src/index/img/bg-girl.jpg") no-repeat;
  background-position: top center;
}

.features h2 {
  margin: 105px auto 119px auto;
}

.features .items {
  height: 583px;
}

.features .item {
  background-repeat: no-repeat;
  padding-left: 72px;
  min-height: 147px;
  margin-bottom: 32px;
}

.features .item b {
  display: block;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #49497D;
  margin-bottom: 16px;
}

.features .item p {
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #07071F;
  width: 237px;
}

.features .item.simple {
  background-image: url("../../src/index/img/simple.png");
}

.features .item.friendly {
  background-image: url("../../src/index/img/friendly.png");
}

.features .item.clever {
  background-image: url("../../src/index/img/clever.png");
}

.features .item.private {
  background-image: url("../../src/index/img/private.png");
}

.features .item.good {
  background-image: url("../../src/index/img/good.png");
}

.features .register {
  margin-top: 46px;
  text-align: center;
  font-weight: 600;
  font-size: 26px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #49497D;
}

.features .register p {
  margin-bottom: 40px;
}

.features .register a.button {
  margin-top: 40px;
  padding: 14px 32px;
  background: #7551A8;
  border-radius: 8px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: white;
}

.features .register a.button:hover {
  text-decoration: none;
  background-color: #AB89DB;
}

/* ------------------------------  Видео ------------------------------ */
.video {
  text-align: center;
  margin: 120px auto 200px auto;
  max-width: 970px;
}

.video h2 {
  margin-bottom: 60px;
}

.video p {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #07071F;
  margin-bottom: 40px;
}

.video .player {
  max-width: 970px;
  width: 100%;
}

/* убираю отступы у сетки бутстрапа для больших размеров */
@media only screen and (min-width: 1260px) {
  header {
    padding: inherit 0px;
  }
  header .row div {
    padding: 0px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  h2 {
    font-size: 36px;
  }
  header .mobile-menu {
    padding-top: 9px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  h2 {
    font-size: 28px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  h2 {
    font-size: 24px;
  }
  /* Первый экран */
  header {
    padding: 0px;
    padding-top: 20px;
  }
  header figure.logo img {
    width: 52px;
    margin-right: 8px;
  }
  header figure.logo figcaption {
    font-size: 18px;
    line-height: 22px;
    padding-top: 12px;
  }
  header .mobile-menu {
    padding-top: 0px;
  }
  /* ------------- Окно регистрации 320-480 ------------- */
  #regform {
    width: 100%;
    margin: 30px auto;
    left: 0;
    top: 0;
  }
  #regform .content {
    padding: 30px 15px 60px 15px;
  }
  #regform h3 {
    font-size: 24px;
    line-height: 26px;
  }
}

/* Smallest phones */
@media only screen and (max-width: 319px) {
  h2 {
    font-size: 18px;
  }
  header .mobile-menu a.login {
    display: none;
  }
  /* Форма регистрации */
  #regform {
    min-width: 210px;
  }
  #regform .content {
    padding: 30px 10px 30px 10px;
  }
  #regform h3 {
    font-size: 18px;
    line-height: 20px;
  }
  #regform p.desc {
    font-size: 14px;
  }
}

/* Убираем фиксацию окна регистрации */
@media only screen and (max-height: 660px) {
  #regform {
    position: absolute;
  }
}

/* убираем отступы у сетки бутстрапа для больших размеров */
@media only screen and (min-width: 1260px) {
  header .slogan div {
    padding: 0px;
  }
  header .buttons {
    margin-left: -15px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  header .slogan h1 {
    font-size: 40px;
  }
  /* ------------- Недавно зарегистрировались 993-1200 ------------- */
  .people .pinkbg {
    width: 310px;
  }
  /* Видео */
  .video {
    margin: 90px auto 150px auto;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .firstscreen {
    background-size: auto 100%;
    background-position: center bottom;
    min-height: 100%;
    height: auto;
  }
  header .slogan {
    padding-top: 14.1vh;
    text-align: center;
  }
  header .slogan h1 {
    font-size: 32px;
  }
  header .buttons {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 60px;
  }
  /*  Недавно зарегистрировались  */
  .people .pinkbg {
    width: 350px;
  }
  /* ------------- Видео 481-767 ------------- */
  .video {
    margin: 80px auto 90px auto;
  }
  .video h2 {
    margin-bottom: 45px;
  }
  .video .player {
    margin-bottom: 45px;
  }
  .video p {
    margin-bottom: 0px;
  }
  /* ------------- Преимущества 769-992 ------------- */
  .features {
    height: auto;
    background: url("src/index/img/bg-girl_light.jpg") no-repeat;
    background-position: center bottom;
    background-color: #f9f9f9;
    padding-bottom: 120px;
    overflow: hidden;
  }
}

/* Костыль для бэкграунда первого экрана */
@media only screen and (max-width: 992px) and (min-width: 846px) and (max-height: 355px) {
  .firstscreen {
    min-height: 500px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  /* Недавно зарегистрировались */
  .people {
    margin-bottom: 80px;
  }
  .people input.search {
    margin-right: 15px;
    margin-left: 15px;
  }
  .people .pinkbg {
    width: 400px;
  }
  /* ------------- Преимущества 481-767 ------------- */
  .features {
    padding-bottom: 95px;
    overflow: auto;
  }
  .features h2 {
    margin: 90px auto 60px auto;
  }
  .features .item {
    width: 400px;
    margin: auto;
    margin-bottom: 32px;
    min-height: auto;
  }
  .features .item p {
    width: auto;
  }
  .features .item br {
    display: none;
  }
  .features .register {
    margin-top: 60px;
    font-size: 22px;
  }
  /* Видео */
  .video p {
    font-size: 16px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /* Первый экран */
  header .slogan {
    padding-top: 14.1vh;
    text-align: center;
  }
  header .slogan h1 {
    font-size: 24px;
  }
  header .buttons {
    margin-left: -18px;
  }
  header .buttons a {
    margin-right: 14px;
    padding: 13px 24px;
  }
  /* ------------- Недавно зарегистрировались 320-480 ------------- */
  .people {
    margin-bottom: 35px;
  }
  .people input.search {
    width: 100%;
    max-width: 370px;
    margin: auto 15px;
    padding: 14px 16px 16px 46px;
    background-position: 14px 14px;
    background-size: 20px;
  }
  .people h2 {
    margin: 40px auto;
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
  }
  .people .pinkbg {
    width: 100%;
    /* min-width: 288px; ? */
    max-width: 370px;
    margin-left: 15px;
    margin-right: 15px;
    width: 90%;
    height: 178px;
    margin-bottom: 20px;
    padding: 20px;
    padding-right: 5px;
  }
  .people .name {
    margin-bottom: 12px;
  }
  .people .about {
    height: 32px;
    line-height: 18px;
  }
  /* ------------- Преимущества 320-480 ------------- */
  .features {
    padding-bottom: 78px;
  }
  .features h2 {
    margin: 40px auto;
  }
  .features .items {
    height: auto;
  }
  .features .items .col-12 {
    padding: 0px;
  }
  .features .item {
    width: auto;
    padding-left: 60px;
    background-size: 40px;
  }
  .features .item b {
    font-size: 16px;
    margin-bottom: 12px;
  }
  .features .register {
    font-size: 20px;
    margin-top: 28px;
    /* +32px from item */
  }
  .features .register p {
    margin-bottom: 32px;
  }
  .features .register a.button {
    padding: 13px 24px;
  }
  /* Видео */
  .video {
    margin: 77px auto 40px auto;
  }
  .video h2 {
    margin-bottom: 40px;
  }
  .video .player {
    margin-bottom: 40px;
  }
  .video p {
    font-size: 14px;
    line-height: 160%;
  }
}

/* Smallest phones */
@media only screen and (max-width: 319px) {
  header .buttons a {
    display: block;
    margin-right: 0px;
    margin-bottom: 15px;
  }
  header .buttons a, header .buttons a.register {
    width: 80%;
    position: relative;
    left: 50%;
    margin-left: -40%;
  }
  header .slogan h1 {
    font-size: 18px;
  }
  /* Недавно зарегистрировались <319 */
  .people {
    min-width: 240px;
  }
  .people input.search {
    margin-left: 10px;
    margin-right: 10px;
  }
  .people .pinkbg {
    padding: 15px;
    height: auto;
  }
  .people .avatar {
    width: 60px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  .people .name {
    font-size: 18px;
    line-height: 20px;
  }
  .people .interests a {
    white-space: nowrap;
  }
  /* Преимущества <319 */
  .features .item {
    padding-left: 44px;
    background-size: 30px;
  }
  .features .item b {
    font-size: 14px;
  }
  .features .item p {
    font-size: 12px;
  }
  .features .register {
    font-size: 16px;
    margin-top: 10px;
  }
}
/*# sourceMappingURL=index.css.map */