/* --------------------------- Header ------------------------------ */
header.header{ /*    :)    */
    height: 453px;
    background-image: url('../img/mountains_bg.jpg');
    background-position: top center;
    background-repeat: no-repeat;
}
.header .title{
    text-align: center;
    margin-top: 100px;
    color: #07071F;
}
.header .title h1{
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 100%;
    letter-spacing: 0.01em;
}
.header .title .bc{
    margin-top: 31px;
    font-weight: 500;
    font-size: 14px;
}
.header .title .bc a, .header .title .bc span{
    padding-left: 14px;
    margin-left: 8px;
    background: url('../img/bc_arrow.png') no-repeat;
    background-position: left center;
}
.header .title .bc a{
    color: #49497D;
}
.header .title .bc a.main{
    background: none;
    padding-left: 0px;
    margin-left: 0px;
}
/* --------------------------- Article ------------------------------ */
article{
    margin: 120px auto 150px auto;
    font-size: 16px;
    line-height: 160%;
    color: #1E1E25;
    font-weight: 500;
}
article.container{
    padding: 0px;
}
article h2, article h3{
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0.01em;
    color: #07071F;
    text-align: center;
    margin: auto;
}
article h3{
    font-size: 28px;
    margin-top: 40px;
}
article p, article h4{
    width: 770px;
}
article h4{
    margin: 30px auto 0px auto;
    font-weight: normal;
    font-size: 20px;
    line-height: 160%;    
    color: #07071F;
}
article p{
    margin: 30px auto 0px auto;
}
article p.desc{
    font-size: 20px;
    line-height: 160%;
    color: #686868;
    width: 970px;
    margin-bottom: 20px;
}
article img{
    max-width: 100%;
    border-radius: 12px;
    margin: 40px auto 0px auto;
}