/* Raleway */
@font-face {
    font-family: 'Raleway';
    font-weight: 300;
    src: url('fonts/Raleway/static/Raleway-Light.ttf');
}
@font-face {
    font-family: 'Raleway';
    font-weight: 500;
    src: url('fonts/Raleway/static/Raleway-Medium.ttf');
}
@font-face {
    font-family: 'Raleway';
    font-weight: 600;
    src: url('fonts/Raleway/static/Raleway-SemiBold.ttf');
}
@font-face {
    font-family: 'Raleway';
    font-weight: 700;
    src: url('fonts/Raleway/static/Raleway-Bold.ttf');
}
/* Barlow */
@font-face {
    font-family: 'Barlow';
    font-weight: 700;
    src: url('fonts/Barlow/Barlow-Bold.ttf');
}