.mobile-menu{
    display: none;
    position: absolute;
    //right: 0;
    left: 100%;
    height: 100%;
    min-height: 550px;
    width: 228px;
    background-color: #FDFBFD;
    z-index: 4;
    background-image: url($popupsFolder + "img/pattern_big.png");
    background-position: right 56px;
    background-repeat: no-repeat;
    padding-bottom: 32px;

    &__close{
        position: absolute;
        right: 16px;
        top: 32px;
    }

    &__list{
        text-align: center;
        list-style: none;
        width: 100%;
        padding: 0;
        //margin-top: 68px;
        margin-top: 100px;
    }

    &__item{
        padding: 0;
    }

    &__link{
        font-weight: 500;
        font-size: 16px;
        line-height: 48px;
        color: #49497D;
        display: block;
        width: 100%;
        height: 48px;

        &:hover{            
            text-decoration: none;
            background-color: #F3E3FF;
        }
    }

    &__buttons{
        text-align: center;
        margin-top: 40px;
    }

    &__login{
        width: 136px;
        background-color: white;
        margin-bottom: 17px;
        font-weight: 600; 
    }

    &__register{
        width: 136px;
        padding: 14px 0px;
        font-weight: 600; 
    }
}
