/* Variables */
/* Raleway */
@font-face {
  font-family: 'Raleway';
  font-weight: 300;
  src: url("fonts/Raleway/static/Raleway-Light.ttf");
}

@font-face {
  font-family: 'Raleway';
  font-weight: 500;
  src: url("fonts/Raleway/static/Raleway-Medium.ttf");
}

@font-face {
  font-family: 'Raleway';
  font-weight: 600;
  src: url("fonts/Raleway/static/Raleway-SemiBold.ttf");
}

@font-face {
  font-family: 'Raleway';
  font-weight: 700;
  src: url("fonts/Raleway/static/Raleway-Bold.ttf");
}

/* Barlow */
@font-face {
  font-family: 'Barlow';
  font-weight: 700;
  src: url("fonts/Barlow/Barlow-Bold.ttf");
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  min-width: 320px;
  font-weight: 500;
  color: #07071F;
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
  }
}

a {
  color: #7551A8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  vertical-align: top;
}

button {
  outline: none;
  font-family: 'Raleway', sans-serif;
}

h1, h2 {
  font-size: 44px;
  font-weight: 700;
  letter-spacing: 0.01em;
}

@media (max-width: 1024px) {
  h1, h2 {
    font-size: 36px;
  }
}

@media (max-width: 767px) {
  h1, h2 {
    font-size: 32px;
  }
}

@media (max-width: 480px) {
  h1, h2 {
    font-size: 24px;
  }
}

/* main button */
.button, .button_empty {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 14px 32px;
  background: #7551A8;
  color: white;
  white-space: nowrap;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
}

.button:hover, .button_empty:hover {
  background-color: #AB89DB;
}

@media (max-width: 480px) {
  .button, .button_empty {
    padding: 12px 7px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
  }
}

.button_empty {
  background: none;
  border: 2px solid #49497D;
  color: #49497D;
  font-weight: 600;
}

@media (max-width: 480px) {
  .button_empty {
    border-width: 1px;
  }
}

.button_empty:hover {
  background-color: #49497D;
  color: white;
}

/* Variables */
/* Header */
.header {
  height: 453px;
  background-image: url("header/img/mountains_bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

@media (max-width: 1024px) {
  .header {
    background-size: 1500px auto;
    height: 340px;
  }
}

@media (max-width: 480px) {
  .header {
    height: 300px;
    background-position: bottom center;
    background-image: url("header//img/mountains_bg_mob.jpg");
    background-size: 100% auto;
  }
}

.header__wrapper {
  width: 1170px;
  margin: auto;
  padding-top: 20px;
}

@media (max-width: 1200px) {
  .header__wrapper {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 480px) {
  .header__wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.header__title {
  margin-top: 110px;
}

@media (max-width: 1024px) {
  .header__title {
    margin-top: 56px;
  }
}

/* Menu top line */
.menu-block {
  height: 61px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
}

.menu-block__link {
  color: #49497D;
}

.menu-block__logo {
  margin: 0;
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  margin-right: 107px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 480px) {
  .menu-block__logo {
    margin-right: 0;
  }
}

.menu-block__logo-img {
  margin-right: 9px;
}

@media (max-width: 480px) {
  .menu-block__logo-img {
    width: 52px;
    margin-right: 8px;
  }
}

.menu-block__logo-figcaption {
  font-family: 'Barlow', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 100%;
}

@media (max-width: 480px) {
  .menu-block__logo-figcaption {
    font-size: 18px;
  }
}

.menu-block__logo-link:hover {
  text-decoration: none;
}

.menu-block__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 615px;
      flex-basis: 615px;
  list-style: none;
}

@media (max-width: 1024px) {
  .menu-block__menu {
    display: none;
  }
}

.menu-block__item {
  display: block;
  margin-right: 28px;
  white-space: nowrap;
}

.menu-block__buttons {
  -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px) {
  .menu-block__buttons {
    display: none;
  }
}

.menu-block__mobile-buttons {
  display: none;
}

@media (max-width: 1024px) {
  .menu-block__mobile-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu-block__mob-bt-link {
  margin-left: 24px;
}

.menu-block__register {
  margin-left: 18px;
  font-weight: 600;
}

/* Title */
.title {
  text-align: center;
}

.title__h1, .title__h2 {
  margin-bottom: 31px;
}

@media (max-width: 1024px) {
  .title__h1, .title__h2 {
    margin-bottom: 24px;
  }
}

@media (max-width: 767px) {
  .title__h1, .title__h2 {
    margin-bottom: 18px;
  }
}

@media (max-width: 480px) {
  .title__h1, .title__h2 {
    line-height: 120%;
  }
}

.title__breadcrumbs {
  font-size: 14px;
  height: 16px;
  line-height: 16px;
}

@media (max-width: 480px) {
  .title__breadcrumbs {
    display: none;
  }
}

.title__link {
  color: #49497D;
}

.title__link::after {
  content: "";
  display: inline-block;
  margin: 0 6px 0px 8px;
  width: 6px;
  height: 16px;
  background: url("header/img/bc_arrow.svg") no-repeat;
  background-position: center bottom;
}

.user-profile__wrapper {
  width: 1170px;
  margin: auto;
  margin: 118px auto 121px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1200px) {
  .user-profile__wrapper {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 480px) {
  .user-profile__wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 768px) {
  .user-profile__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 689px) {
  .user-profile__wrapper {
    margin: 75px auto;
  }
}

@media (max-width: 480px) {
  .user-profile__wrapper {
    margin: 40px auto;
  }
}

@media (max-width: 768px) {
  .user-profile__view {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.user-profile__info {
  margin-left: 40px;
}

@media (max-width: 768px) {
  .user-profile__info {
    margin-left: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.user-view {
  min-width: 270px;
  -ms-flex-preferred-size: 270px;
      flex-basis: 270px;
}

@media (max-width: 768px) {
  .user-view {
    width: 100%;
  }
}

.user-view__h2 {
  display: none;
  margin-top: 30px;
  margin-bottom: 16px;
}

@media (max-width: 768px) {
  .user-view__h2 {
    display: block;
  }
}

@media (max-width: 768px) {
  .user-view__h2 {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .user-view__h2 {
    font-size: 16px;
  }
}

.user-view__avatar {
  width: 270px;
  margin-bottom: 8px;
}

@media (max-width: 768px) {
  .user-view__avatar {
    display: none;
  }
}

.user-view__avatar-img {
  border-radius: 135px;
}

.user-view__prevs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 24px;
}

@media (max-width: 768px) {
  .user-view__prevs {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.user-view__prevs-link {
  display: block;
}

@media (max-width: 768px) {
  .user-view__prevs-link {
    margin-right: 16px;
  }
}

.user-view__prevs-img {
  border-radius: 8px;
}

.user-view__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .user-view__buttons {
    display: none;
  }
}

.user-view__add {
  width: 210px;
  font-weight: 600;
}

.user-view__message {
  border: 2px solid #B7B7D3;
  border-radius: 8px;
  background-color: white;
  padding: 10px;
  cursor: pointer;
}

.user-info__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 48px;
}

@media (max-width: 768px) {
  .user-info__name {
    margin-bottom: 28px;
  }
}

@media (max-width: 480px) {
  .user-info__name {
    margin-bottom: 16px;
  }
}

.user-info__photo {
  display: none;
  width: 120px;
  border-radius: 60px;
  margin-right: 32px;
}

@media (max-width: 768px) {
  .user-info__photo {
    display: block;
    width: 90px;
    border-radius: 45px;
    margin-right: 24px;
  }
}

@media (max-width: 480px) {
  .user-info__photo {
    width: 60px;
    border-radius: 30px;
    margin-right: 16px;
  }
}

@media (max-width: 768px) {
  .user-info__h1 {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .user-info__h1 {
    font-size: 16px;
  }
}

.user-info__buttons {
  display: none;
}

@media (max-width: 768px) {
  .user-info__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 50px;
  }
}

@media (max-width: 480px) {
  .user-info__buttons {
    margin-bottom: 40px;
  }
}

.user-info__button-left {
  margin-right: 15px;
}

@media (max-width: 480px) {
  .user-info__button-left {
    width: 136px;
  }
}

.user-info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  line-height: 140%;
}

@media (max-width: 480px) {
  .user-info__item {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 16px;
  }
}

.user-info__param {
  min-width: 187px;
  -ms-flex-preferred-size: 187px;
      flex-basis: 187px;
  color: #8A8A9E;
}

@media (max-width: 480px) {
  .user-info__param {
    min-width: 152px;
    -ms-flex-preferred-size: 152px;
        flex-basis: 152px;
  }
}

/* Variables */
.footer {
  background-color: rgba(243, 227, 255, 0.75);
  font-size: 14px;
  line-height: 100%;
}

.footer__link {
  color: #49497D;
}

.footer__wrapper {
  width: 1170px;
  margin: auto;
  padding: 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1200px) {
  .footer__wrapper {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 480px) {
  .footer__wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 768px) {
  .footer__wrapper {
    padding-bottom: 25px;
  }
}

.footer__logo {
  -ms-flex-preferred-size: 114px;
      flex-basis: 114px;
  margin-right: 86px;
  text-align: center;
}

@media (max-width: 1280px) {
  .footer__logo {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-right: 0px;
  }
}

.footer__logo-img {
  margin-bottom: 14px;
}

.footer__logo-figcaption {
  font-family: 'Barlow', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 100%;
}

.footer__logo-link:hover {
  text-decoration: none;
}

.footer__menus {
  -ms-flex-preferred-size: 750px;
      flex-basis: 750px;
}

@media (max-width: 1280px) {
  .footer__menus {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: center;
    margin-bottom: 24px;
  }
}

@media (max-width: 768px) {
  .footer__menus {
    display: none;
  }
}

.footer__menu {
  list-style: none;
  padding: 0;
}

.footer__menu_first {
  margin-bottom: 24px;
}

.footer__menu-item {
  display: inline;
  margin-right: 22px;
  white-space: nowrap;
}

.footer__social {
  -ms-flex-preferred-size: 220px;
      flex-basis: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

@media (max-width: 1280px) {
  .footer__social {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 24px;
  }
}

.footer__soc-link {
  margin-left: 11px;
}

.footer__desc {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-top: 24px;
  margin-bottom: 60px;
  line-height: 140%;
}

@media (max-width: 1280px) {
  .footer__desc {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    text-align: center;
    margin-bottom: 24px;
  }
}

.footer__copyright {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  font-weight: 400;
  line-height: 140%;
}

@media (max-width: 1280px) {
  .footer__copyright {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
    margin-bottom: 24px;
  }
}

.footer__policy {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  font-weight: 400;
  font-size: 13px;
  text-align: right;
}

@media (max-width: 1280px) {
  .footer__policy {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
  }
}

.footer__policy-link {
  margin-left: 12px;
}

@media (max-width: 768px) {
  .footer__policy-link {
    display: block;
    margin-bottom: 15px;
  }
}

.darkscreen {
  display: none;
  position: fixed;
  background-color: rgba(117, 81, 168, 0.5);
  width: 100%;
  height: 100vh;
  top: 0;
}

.popups {
  display: none;
  position: fixed;
  overflow-x: hidden;
  width: 100%;
  min-width: 320px;
  height: 100vh;
  top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .popups {
    position: absolute;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 480px) {
  .popups {
    padding: 0px 15px;
  }
}

.mobile-menu {
  display: none;
  position: absolute;
  left: 100%;
  height: 100%;
  min-height: 550px;
  width: 228px;
  background-color: #FDFBFD;
  z-index: 4;
  background-image: url("popups/img/pattern_big.png");
  background-position: right 56px;
  background-repeat: no-repeat;
  padding-bottom: 32px;
}

.mobile-menu__close {
  position: absolute;
  right: 16px;
  top: 32px;
}

.mobile-menu__list {
  text-align: center;
  list-style: none;
  width: 100%;
  padding: 0;
  margin-top: 100px;
}

.mobile-menu__item {
  padding: 0;
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 48px;
  color: #49497D;
  display: block;
  width: 100%;
  height: 48px;
}

.mobile-menu__link:hover {
  text-decoration: none;
  background-color: #F3E3FF;
}

.mobile-menu__buttons {
  text-align: center;
  margin-top: 40px;
}

.mobile-menu__login {
  width: 136px;
  background-color: white;
  margin-bottom: 17px;
  font-weight: 600;
}

.mobile-menu__register {
  width: 136px;
  padding: 14px 0px;
  font-weight: 600;
}

.login-form {
  display: none;
  width: 400px;
  padding: 30px 30px 60px 30px;
  text-align: center;
  background-color: #FDFBFD;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .login-form {
    position: absolute;
    top: 10vh;
  }
}

@media (max-width: 480px) {
  .login-form {
    top: 15px;
  }
}

@media (max-width: 430px) {
  .login-form {
    width: 100%;
    min-width: 290px;
  }
}

@media (max-width: 360px) {
  .login-form {
    padding: 30px 15px 45px 15px;
  }
}

.login-form__close {
  float: right;
  margin-top: -15px;
  margin-right: -15px;
}

@media (max-width: 360px) {
  .login-form__close {
    margin-right: 0;
  }
}

.login-form__title {
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
  color: #000000;
  margin-bottom: 30px;
  margin-top: 15px;
}

@media (max-width: 360px) {
  .login-form__title {
    font-size: 24px;
    line-height: 24px;
  }
}

.login-form__input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid rgba(42, 16, 78, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  padding: 14px 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #49497D;
  outline: none;
}

.login-form__input::-webkit-input-placeholder {
  color: #B7B7D3;
  font-weight: 500;
  opacity: 1;
}

.login-form__input:-ms-input-placeholder {
  color: #B7B7D3;
  font-weight: 500;
  opacity: 1;
}

.login-form__input::-ms-input-placeholder {
  color: #B7B7D3;
  font-weight: 500;
  opacity: 1;
}

.login-form__input::placeholder {
  color: #B7B7D3;
  font-weight: 500;
  opacity: 1;
}

.login-form__error {
  color: #E62E6B;
  font-size: 14px;
  margin-bottom: 15px;
}

.login-form__button {
  width: 160px;
}

@media (max-width: 480px) {
  .login-form__button {
    padding: 14px 32px;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
  }
}

.login-form__links {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 14px;
}

.login-form__link {
  display: block;
  margin-top: 5px;
}

.login-form__title_h4 {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 15px;
}

@media (max-width: 360px) {
  .login-form__title_h4 {
    font-size: 16px;
    margin-bottom: 8px;
  }
}

.login-form__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-form__soc-button {
  padding: 0;
  border: none;
  background: none;
  margin: 0px 2.5px;
  cursor: pointer;
}

.x-close {
  border: none;
  background: none;
  cursor: pointer;
  opacity: 0.5;
}

.x-close:hover {
  opacity: 0.7;
}
/*# sourceMappingURL=profile.css.map */